header {
  height: 150px;
}
.header-top {
  height: 100px;
  background: url("../../../assets/img/header_top_img.jpg") repeat scroll 50% 49%;
}
.header-bottom {
  height: 50px;
  background: #A74842;
}
.header-bottom > ul {
  float: right;
}
.header-bottom > ul > li {
  color: #E6C9A1;
  float: left;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.header-bottom > ul > li > a {
  color: #E6C9A1;
  font: 17px "Trebuchet MS",sans-serif;
  text-decoration: none;
}
aside {
  width: 250px;
  height: 100%;
  border-right: 1px solid black;
  display: inline-block;
  float: left;
  background: url("../../../assets/img/aside_bookrossing_picture.png");
  background-size: 100%;
  cursor: pointer;
}