<header>
  <a href="http://www.bookcrossing.com/mybookshelf/zelbib30/">
    <aside></aside>
  </a>
  <div class="header-top"></div>
  <div class="header-bottom">
    <ul>
      <li [routerLink]="['/clubPage']"><a>Клубы</a></li>
      <li [routerLink]="['/competitionPage']"><a>Конкурсы</a></li>
      <li [routerLink]="['/recommendationPage']"><a>Рекомендации</a></li>
    </ul>
  </div>
</header>