.services_table {
 margin-left: 20px;
 margin-right: 20px;
 margin-top: 20px;
 margin-bottom: 20px;
 tr {
   td {
    padding: 10px 10px 0 10px;
    border: 1px solid grey;
   }
 }
 h1 {
  font-weight: bold;
 }
}