 <table class='services_table'>

  <tr>
    <td><h2>Предоставляемая услуга:</h2></td>
    <td><h2>Стоимость(руб.):</h2></td>
    <td><h2>Ед. изм.</h2></td>
  </tr>

  <tr *ngFor="let service of services">
    <td>
      {{service.caption}}
    </td>
    <td>
      <p>{{service.cost}}</p>
   </td>
    <td>
      <p>{{service.per_one}}</p>
    </td>
  </tr>

</table>