.title_of_news {
 font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
 font-size: 2.125rem;
 font-style: italic;
 font-weight: 700;
 line-height: 2.375rem;
 position: relative;
 right: 10%;
 left: 10%;
}
article {
 height: auto;
 padding: 20px;
}
article  hr {
 display: block;
 height: 1px;
 background: black;
 width: 90%;
 color: black;
 box-shadow: 1px 1px 1px black;
}
article > .author_of_article {
 font-family: georgia,"times new roman",times,serif;
 font-size: 1rem;
 font-style: normal;
 font-weight: 400;
 line-height: 1.4375rem;
}
article > .date_of_article {
 font-family: georgia,"times new roman",times,serif;
 font-size: 1rem;
 font-style: normal;
 font-weight: 400;
 line-height: 1.4375rem;
}
article > .content {
 font-family: georgia,"times new roman",times,serif;
 font-size: 1rem;
 font-style: normal;
 font-weight: 400;
 line-height: 1.4375rem;
 width: 800px;
 padding-left: 75px;
 padding-top: 20px;
}
article > .img_for_content {
 width: 800px;
 padding-top: 30px;
 margin-left: 75px;
}