<article *ngIf="article">
  <div class="title_of_news">{{article.title}}</div>
  <hr>
  <div class="author_of_article">
    {{article.author}}
    <div class="date_of_article">
      {{article.date_of}}
    </div>
  </div>
  <img class="img_for_content" src="{{article.content_image}}"/>
  <div class="content">
    {{article.content}}
  </div>
</article>