<form [formGroup]="loginEditForm" (submit)="loginSubmit()">
  Логин: <input type="text"     formControlName="login">
  Пароль: <input type="password" formControlName="pass">
  <div class="clearfix"></div>
  <input type="submit" value="Ok" (click)="loginSubmit();">
</form>