
<div class="albums">
  <div class="album" *ngFor="let album of albums">
    <div class="box_for_title">
      <div class="title_for_box">
        <a [routerLink]="album.id">
          {{album.date_of}}
        </a>
      </div>
      <img src="{{album.cover}}" alt="{{album.title}}">
    </div>
  </div>
</div>