.box_for_title {
 border: 3px solid #536386;
 height: auto;
 margin-left: 5px;
 margin-right: 5px;
 padding-top: 10px;
 padding-bottom: 15px;
}
.title_for_box {
 margin-left: 190px;
 background: #536386;
 width: 90px;
 color: white;
 padding-bottom: 7px;
 padding-top: 7px;
 text-align: center;
 padding-left: 5px;
 padding-right: 5px;
 font: 16px "Trebuchet MS",sans-serif bold;
}
.albums > .album {
 float: left;
}
.album {
 padding: 10px;
 margin: 10px;
}
.albums:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}
.album > .box_for_title > .title_for_box > a {
 color: inherit;
 cursor: pointer;
}
.album > .box_for_title {
 width: 250px;
 height: 250px;
}
.album > .box_for_title > .title_for_box {
 padding: 10px;
 margin: 10px 40px 0;
 box-shadow: 3px 3px 3px #536386;
 width: auto;
}
.album > .box_for_title > img {
 max-width: 250px;
 max-height: 200px;
}