<app-header></app-header>
<div class="clubs" *ngFor="let club of clubs">
  <div class="single_club">
    <h3>{{club.caption}}</h3>
    <p>{{club.description}}</p>
    <p>{{club.dates}}</p>
    <p>{{club.age}}</p>
  </div>
</div>