.message {
 border: 1px solid black;
 display: block;
 margin-top: 20px;
 padding: 20px;
}
.message > .date_of_message {
 font-family: georgia,"times new roman",times,serif;
 font-size: 1rem;
 font-style: normal;
 font-weight: 400;
 line-height: 1.4375rem;
 color: red;
 float: left;
}
.message > .author_of_message {
 font-family: georgia,"times new roman",times,serif;
 font-size: 1rem;
 font-style: normal;
 font-weight: 400;
 line-height: 1.4375rem;
 text-decoration: underline;
 color: blue;
 float: left;
 padding-left: 100px;
}
.message > .text_of_message {
 font-family: georgia,"times new roman",times,serif;
 font-size: 1rem;
 font-style: normal;
 font-weight: 400;
 line-height: 1.4375rem;
}
.message > .email {
 font-family: georgia,"times new roman",times,serif;
 font-size: 1rem;
 font-style: normal;
 font-weight: 400;
 line-height: 1.4375rem;
 color: fuchsia;
 padding-left: 425px;
}
.add_form {
 margin-top: 30px;
 width: 800px;
 margin-left: 250px;
 height: 350px;
}
.add_form > form > textarea {
 height: 300px;
}