<div class="message" *ngFor="let book of guest_book">
  <div class="date_of_message">
    {{book.date_of}}
  </div>
  <div class="author_of_message">
    {{book.author}}
  </div>
  <div class="email">
    {{book.email}}
  </div>
  <div class="text_of_message">
    {{book.content}}
  </div>
</div>

<div class="add_form">
  <form [formGroup]="guest_bookEditForm" (submit)="guest_bookSubmit();">
    <table>
    <tr>
      <td> Имя:</td>
      <td>
        <input formControlName="author" type="text"  placeholder="Андрей Николаевич">
      </td>
    </tr>
    <tr>
      <td>Электронная почта:</td>
      <td>
        <input formControlName="email" type="text" placeholder="example@mail.com">
      </td>
    </tr>
    <tr>
      <td>Сообщение:</td>
      <td>
        <textarea formControlName="content" rows="10" cols="40" placeholder="С удовольствием хожу в Вашу библиотеку.Спасибо!"></textarea>
      </td>
    </tr>
      <tr>
        <td>
        </td>
        <td>
          <re-captcha (resolved)="resolved($event)" siteKey="6LdnBSMUAAAAABNjxUWNl1LA5N0GG8bUun7dTc44"></re-captcha>
        </td>
      </tr>
    <tr>
      <td><input type="submit" value="Оставить запись"></td><td><input type="reset" value="Все очистить"></td>
    </tr>
    </table>
  </form>
</div>