.albums > .album {
 float: left;
}
.album {
 padding: 10px;
 margin: 10px;
}
.albums:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}
.album > .box_for_title > .title_for_box > a {
 color: inherit;
 cursor: pointer;
}
.album > .box_for_title {
 width: 250px;
 height: 250px;
}
.album > .box_for_title > .title_for_box {
 padding: -10px;
 margin: -20px 40px 0;
 box-shadow: 3px 3px 3px #536386;
 width: auto;
}
.album > .box_for_title > img {
 width: 100px;
 max-height: 250px;
 padding-left: 60px;
 padding-top: 50px;
}