<div class='main_img'>
  <div class="left-side">МБУ "ЦБС ЗМР"</div>
  <a class="center-side" [routerLink]="['/']"><img src='../../../assets/img/main_logo_image.png' alt='logo'></a>
  <div class="right-side">Библиотека-филиал №30</div>
</div>
<div class="content">
  <app-navigator></app-navigator>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>