.main_img {
 padding-top: 10px;
 position: relative;
 width: 1000px;
 height: 60px;
 margin: 0 auto;
 a.center-side {
  position: absolute;
  left: 41%;
  margin: 0 auto;
  img {

  }
 }
 .left-side {
  position: absolute;
  left: 0px;
 }
 .right-side {
  position: absolute;
  right: 0px;
 }
}
.content {
 width: 1000px;
 height: auto;
 margin: 0 auto;
 box-shadow: 0px 0px 8px grey;
 margin-bottom: 50px;
 background: #E9E9E9;
}
