<nav>
  <form action="" method="" target="" id="search_panel">
    Поиск:
    <input type="hidden" name="searchid" value=""/>
    <input type="hidden" name="l10n" value=""/>
    <input type="hidden" name="reqenc" value=""/>
    <input type="search" name="text" value=""/>
    <input type="submit" value="Найти" id="search_submit"/>
    <label for="search_submit"><img src="../../../assets/img/icon-search.png" alt="news_image"></label>
  </form>
  <ul>
    <li [routerLink]="['/newsPage']"><a>Новости</a></li>
    <li [routerLink]="['/priceListPage']"><a>Услуги</a></li>
    <li [routerLink]="['/photoalbumPage']"><a>Фотоальбом</a></li>
    <li [routerLink]="['/aboutPage']"><a>О библиотеке</a></li>
    <li [routerLink]="['/aboutCityPage']"><a>О городе</a></li>
    <li [routerLink]="['/guestBookPage']"><a>Гостевая книга</a></li>
  </ul>
</nav>

<div class="breadcrumbs"></div>