nav {
  background-color: #E9E3C8;
  height: 60px;
}
nav > ul {
  margin-right: 15px;
  float: right;
}
nav > ul > li {
  border-left: 1px dashed grey;
  color: #b30000;
  cursor: pointer;
  float: left;
  font: 13px "Trebuchet MS",sans-serif;
  margin-bottom: 2px;
  margin-top: 6px;
  padding: 16px 15px 15px;
}
nav > ul > li > a {
  text-decoration: none;
  color: #B30000;
  font: 13px "Trebuchet MS",sans-serif;
}
#search_panel {
  color: black;
  font: 15px "Trebuchet MS",sans-serif;
  margin-left: 10px;
  margin-top: 17px;
  position: absolute;
}
#search_panel > label > img {
  width: 18px;
  float: right;
  cursor: pointer;
  padding-top: 2px;
  padding-left: 3px;
}
#search_panel > input[type="search"] {
  width: 250px;
}
#search_submit {
  display: none;
}
.breadcrumbs {
  padding-left: 330px;

}