<footer>
  <div class="main_footer">
    <ul>
      <li><a [routerLink]="['/newsPage']">Новости</a></li>
      <li><a [routerLink]="['/priceListPage']">Услуги</a></li>
      <li><a [routerLink]="['/photoalbumPage']">Фотоальбом</a></li>
      <li><a [routerLink]="['/aboutPage']">О библиотеке</a></li>
      <li><a [routerLink]="['/aboutCityPage']">О городе</a></li>
      <li><a [routerLink]="['/guestBookPage']">Гостевая книга</a></li>
      <li><a [routerLink]="['/clubPage']">Клубы</a></li>
      <li><a [routerLink]="['/competitionPage']">Конкурсы</a></li>
      <li><a [routerLink]="['/recommendationPage']">Рекомендации</a></li>
      <li><a href="http://bookcrossing.ru/bookcrosser/show/37456/zelbib30">Bookcrossing</a></li>
      <li><a href="https://vk.com/shalamovpage">Флешбук</a></li>
      <li><a href="http://youtube.com/results?search_query=Буктрейлер">Буктрейлер</a></li>
      <li><a [routerLink]="['/indexPage']">Главная</a></li>
      <li><a [routerLink]="['/documentPage']">Документы</a></li>
      <li><a [routerLink]="['/login']">Панель</a></li>
    </ul>
  </div>
  <div class="small_footer">
    <a [routerLink]="['/indexPage']"><img src="../../../assets/img/gorky.png" alt="Горький"></a>
  </div>
</footer>