footer {
  height: 120px;
  background: #FFFFFF;
}
footer > .main_footer > ul {
  margin-left: 20px;
}
footer > .main_footer > ul > li > a {
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 1px solid #DCCCDC;
  padding-left: 3px;
  padding-right: 3px;
  color: black;
  font: 11px "Trebuchet MS",sans-serif;
}
footer > .main_footer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.small_footer {
  height: 50px;
  margin-top: 20px;
}
.small_footer > a > img {
  height: 50px;
  margin-left: 20px;
  float: left;
}