<div class='periodic_table'>
  <div class="box_for_title">
    <div class="title_for_box">
      Список выписываемой периодики:
    </div>
    <div class="title_for_box">Газеты:</div>
    <ol>
      <li *ngFor="let periodic of periodics | magazineFilter:'Газеты'">{{periodic.caption+' '+periodic.period+' '+periodic.language}}</li>
    </ol>

    <div class="title_for_box">Журналы:</div>
    <ol>
      <li *ngFor="let periodic of periodics | magazineFilter:'Журналы'">{{periodic.caption+' '+periodic.period+' '+periodic.language}}</li>
    </ol>

  </div>
</div>

<div class="mode">
  <div class="title_for_box">Режим работы:</div>
  <div class="box_for_title">
    <h2>Как работает библиотека:</h2>
    <div *ngIf="summerTime('id')">
      <h3>В зимнее время(01.09-01.05):</h3>
      <p><span class="mode_caption">Выходные дни: </span>{{summerTime('holiday')}}</p>
      <p><span class="mode_caption">Рабочее время: </span>{{summerTime('working')}} </p>
      <p><span class="mode_caption">Обеденный перерыв: </span>{{summerTime('lunch')}} </p>
      <p><span class="mode_caption">Последний день месяца: </span>{{summerTime('last_day')}}</p>
    </div>
    <div *ngIf="winterTime('id')">
      <h3>В летнее время(01.05-01.09):</h3>
      <p><span class="mode_caption">Выходные дни: </span>{{winterTime('holiday')}} </p>
      <p><span class="mode_caption">Рабочее время: </span>{{winterTime('working')}} </p>
      <p><span class="mode_caption">Обеденный перерыв: </span>{{winterTime('lunch')}} </p>
      <p><span class="mode_caption">Последний день месяца: </span>{{winterTime('last_day')}}</p>
    </div>
  </div>
</div>
<div class="adress" *ngIf="adress">
  <div class="title_for_box">Адрес и контакты:</div>
  <div class="box_for_title">
    <h2>Расположение и контакты:</h2>
    <p *ngIf="adress.adress"><span class="adress_caption">Адрес: </span>{{adress.adress}}</p>
    <p *ngIf="adress.phone"><span class="adress_caption">Телефон: </span>{{adress.phone}}</p>
    <p *ngIf="adress.email"><span class="adress_caption">E-mail: </span>{{adress.email}}</p>
    <p *ngIf="adress.site"><span class="adress_caption">Site: </span>{{adress.site}}</p>
    <p *ngIf="adress.telegram"><span class="adress_caption">Telegramm: </span>{{adress.telegram}}</p>
    <p *ngIf="adress.watsapp"><span class="adress_caption">WatsApp: </span>{{adress.watsapp}}</p>
    <p *ngIf="adress.vk"><span class="adress_caption">Vk: </span>{{adress.vk}}</p>
  </div>
</div>

<div class="base">
  <div class="title_for_box">Материально-техническая база:</div>
  <div class="box_for_title">
    <h3>В распоряжении библиотеки находятся: </h3>
    <ul>
      <li><span class="base_caption"><h4>Название</h4></span><span class="base_quantity"><h4>Количество</h4></span></li>
      <li *ngFor="let bas of base"><span class="base_caption">{{bas.caption}}</span><span class="base_quantity">{{bas.quantity}}</span></li>
    </ul>
  </div>
</div>
<div class="clearfix"></div>