.box_for_title {
 border: 3px solid #536386;
 height: auto;
 margin-left: 5px;
 margin-right: 5px;
 padding-top: 10px;
 padding-bottom: 15px;
}
.title_for_box {
 margin-left: 190px;
 background: #536386;
 width: 90px;
 color: white;
 padding-bottom: 7px;
 padding-top: 7px;
 text-align: center;
 padding-left: 5px;
 padding-right: 5px;
 font: 16px "Trebuchet MS",sans-serif bold;
}
.clearfix {
 content: "";
 display: table;
 clear: both;
}
.periodic_table {
 width: 300px;
 margin: 0;
 padding: 0;
 display: inline-block;
 float: left;
}
.clear {
 clear: both;
}
.periodic_table > .box_for_title {
 width: 100%;
 margin: 0;
}

.periodic_table > .box_for_title > .title_for_box:first-child {
 margin: 0;
 padding: 0;
 width: auto;
 margin-top: -10px;
 padding-bottom: 5px;
}
.periodic_table > .box_for_title > .title_for_box{
 margin-top: 10px;
 margin-left: 2px;
 padding-top: 5px;
}
.periodic_table > .box_for_title > ol {
 padding-left: 35px;
 padding-top: 5px;
 font: 13px "Trebuchet MS",sans-serif;
 border: 1px solid #536386;
 margin-left: 2px;
 margin-bottom: 5px;
 border-top: 1px solid #536386;
 border-right: 0px solid black;
}
.mode {
 display: inline-block;
 width: 500px;
 margin-left:30px;
 margin-top: 0px;
 .title_for_box {
  width: 200px;
  margin-left: 50px;
  margin-top: 15px;
 }
 .box_for_title {
  padding: 20px;
 }
}

.adress {
 display: inline-block;
 width: 500px;
 margin-left:30px;

}
.adress > .title_for_box {
 width: 200px;
 margin-left: 50px;
 margin-top: 15px;
}
.adress > .box_for_title {
 padding: 10px;
}
.base {
 display: inline-block;
 width: 500px;
 margin-left:30px;
}
.base > .title_for_box {
 width: 300px;
 margin-left: 40px;
 margin-top: 15px;
}
.base > .box_for_title {
 padding: 10px;
}
.mode_caption {
 display: inline-block;
 min-width: 200px;
}
.adress_caption {
 display: inline-block;
 min-width: 75px;
}
.base_caption {
 display: inline-block;
 min-width: 360px;
 max-width: 360px;
}
.base_quantity {
 display: inline-block;
 min-width: 100px;
}