
  <div class="list_of_news">

    <div class="box_for_title" *ngFor="let article of articles">
      <div class="title_for_box">{{article.date_of}}</div>
      <div class="img_for_news"><img class="news_list_pr_img" src="{{article.preview_image}}"></div>
      <div class="mini_text_for_news">
        <a [routerLink]="['/articlePage', article.id]">{{article.preview_annotation}}
        </a>
      </div>
    </div>

  </div>