.box_for_title {
 border: 3px solid #536386;
 height: auto;
 margin-left: 5px;
 margin-right: 5px;
 padding-top: 10px;
 padding-bottom: 15px;
}
.title_for_box {
 margin-left: 190px;
 background: #536386;
 width: 90px;
 color: white;
 padding-bottom: 7px;
 padding-top: 7px;
 text-align: center;
 padding-left: 5px;
 padding-right: 5px;
 font: 16px "Trebuchet MS",sans-serif bold;
}
.news_list_pr_img {
 max-height: 100px;
 max-width: 91px;
}
.list_of_news {
 background: #EAEAEA;
}
.list_of_news > .box_for_title {
 height: 100px;
 display: inline-block;
 width: 100%;
 border: 1px solid grey;
 margin: 0px;
 border-right: 0px solid black;
 border-left: 0px solid black;
}

.list_of_news > .box_for_title > .title_for_box {
 margin: 0px;
 margin-top: -10px;
 background: grey;
}
.list_of_news > .box_for_title > .img_for_news {
 height: 91px;
 width: 100px;
 float: left;
 margin-right: 30px;
}
.list_of_news > .box_for_title > .img_for_news > img {
 height: 91px;
 width: 100px;
}
.list_of_news > .box_for_title > .mini_text_for_news > a {
 color: black;
 font: 15px "Trebuchet MS",sans-serif;
 margin-left: 20px;
 text-indent: 20px;
 padding-right: 20px;
}