$content-width : 1003px;
//common
.box_for_title {
 border: 3px solid #536386;
 height: auto;
 margin-left: 5px;
 margin-right: 5px;
 padding-top: 10px;
 padding-bottom: 15px;
}
.title_for_box {
 margin-left: 190px;
 background: #536386;
 width: 90px;
 color: white;
 padding-bottom: 7px;
 padding-top: 7px;
 text-align: center;
 padding-left: 5px;
 padding-right: 5px;
 font: 16px "Trebuchet MS",sans-serif bold;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #FFFFFF;
  font-family: georgia,"times new roman",times,serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem;
  color: black;
}

section {
  min-height: 200px;
  min-width: $content-width/3-1;
  max-height: 200px;
  max-width: $content-width/3-1;
  border-bottom: 2px solid grey;
  border-right: 1px dashed grey;
  background: #FFFFFF;
  box-sizing: border-box;
  overflow: auto;
  :hover {
    opacity: 0.8;
    transition: all 0.3s;
  }
}
.titles {
  display: flex;
}
.section_title {
  background: #6AA8A2;
  color: white;
  border-right: 1px dashed grey;
  font: 15px "Trebuchet MS",sans-serif;
  width: $content-width/3;
  display: inline-flex;
}
.banners {
  max-height: inherit;
  max-width: 200px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.first_section {
  border-right: 1px dashed grey;
  float: left;
  display: inline-block;
  width: 330px;
  height: 100%;
  overflow: auto;
}
.first_section::-webkit-scrollbar {
  width: 3px;
}
.flashbook-item {
  position: relative;
  display: inline-flex;
  color: #E6B677;
  background: #A74841;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  .flashbook-img {
    max-height: 100px;
    max-width: 90px;
    min-width: 90px;
    order: 1;
  }
  .flashbook-title {
    position: absolute;
    right: 20px;
    color: #E6B677;
    font-size: 19pt;
    text-decoration: none;
    align-self: center;
    vertical-align: middle;
    text-align: center;
    order: 2;
  }
}

.first_section > .bashlachev{
  height: 90px;
  width: 90px;
  margin: 0px;
  padding: 0px;
  background: url("../../../assets/img/bashlachev.jpg") center;
  background-size: 100%;
  float: left;

}
.first_section > .bashlachev_text {
  color: #E6B677;
  background: #A74841;
  font: 25px "Trebuchet MS",sans-serif bold;
  padding-left: 125px;
  padding-top: 30px;
  border-bottom: 1px dashed grey;
  text-decoration: none;
}
.first_section > .bashlachev_text > a {
  color: #E6B677;
  text-decoration: none;
}
.first_section > .bashlachev_text:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.first_section > .shalamov {
  height: 90px;
  width: 90px;
  margin: 0px;
  padding: 0px;
  background: url("../../../assets/img/shalamov.jpg")  no-repeat;
  background-size: 100%;
  float: left;
}
.first_section > .shalamov_text  {
  color: #E6B677;
  background: #A74841;
  font: 25px "Trebuchet MS",sans-serif bold;
  padding-left: 125px;
  padding-top: 25px;
  text-decoration: none;
}
.first_section > .shalamov_text > a {
  color: #E6B677;
  text-decoration: none;
}
.first_section > .shalamov_text:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.second_section {
  float: left;
  display: inline-block;
  width: 330px;
  height: 100%;
  border-right: 1px dashed grey;
  background: url(../../../assets/img/booktrailer.jpg) no-repeat 30%;
  background-size: 100%;
}
.second_section a {
  display: block;
  text-align: center;
  height: 100%;
  color: #666;
}
.third_section {
  display: inline-block;
  width: 330px;
  height: 100%;
}
.banner {
  height: 100px;
  margin: auto;
}
.banner > img {
  height: 165px;
}
main {
  border-bottom: 2px solid grey;

  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.first_main {
  border-right: 1px dashed grey;
  float: left;
  width: 330px;
  display: inline-block;
  height: 100%;
}

.news {
  height: inherit;
  width: inherit;
  img {
    max-height: 150px;
    max-width: 150px;
    border: 1px solid grey;
    float: left;
    margin: 10px;
  }
  .news_text {
    margin-top: 10px;
    padding-left: 160px;
    padding-top: 5px;
    a {
      color: black;
    }
  }
}

.affiche-box {
  margin-left: 20px;
}
.today_date {
  margin-left: 20px;
 ul {
  li {
   padding-top: 10px;
   list-style: circle;
  }
 }
}


.second_main {
  border-right: 1px dashed grey;
  float: left;
  width: 330px;
  display: inline-block;
  height: 100%;
}
.today {
  margin-top: 265px;
}

.today-number {
  list-style: circle;
  font: 25px "Trebuchet MS",sans-serif bold;
  text-align: left;
}
li.today-action {
  padding-bottom: 15px;
}
.today-action {
  text-align: left;
  font: 15px "Trebuchet MS",sans-serif;
}
.third_main {
  width: 330px;
  display: inline-block;
  height: 100%;
}

.mini_photo_container > .photo_mini {
  max-width: 100px;
  max-height: 100px;
  display: inline-block;
}
.photo_mini > img {
  max-width: 100px;
  max-height: 100px;
}
.mini_photo_container > .photo_mini:nth-child(1) {
  display: none;
}
.mini_photo_container > .photo_mini:nth-child(2) {
  display: none;
}
a.bread {
  font-family: georgia,"times new roman",times,serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem;
  color: black;
}
.library_name{
  float:left;
}

.page404 {
  width: 100%;

}
/*общие стили для форм*/
.article_mod, .today_is_mod, .afisfa_mod, .album_mod {
  background-color: #363636;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 300px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  -webkit-box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  float: left;
  color: #ff8b3d;
  font-weight: normal;
}
.article_mod h1, .today_is_mod h1, .afisfa_mod h1, .album_mod h1{
  background-color: #292829;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  color: #fff;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.article_mod fieldset, .today_is_mod fieldset, .afisfa_mod fieldset, .album_mod fieldset{
  border: none;
  padding: 20px;
  padding-top: 0px;
  position: relative;
}

.article_mod fieldset form, .today_is_mod fieldset form, .afisfa_mod fieldset form, .album_mod fieldset form{
  width: 300px;
}

.article_mod fieldset form input, .today_is_mod fieldset form input, .afisfa_mod fieldset form input, .album_mod fieldset form input{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  outline: none;
  -webkit-appearance:none;
  width: 260px;
  align: center;
  position: center;


}

.article_mod fieldset form input[type="text"], .today_is_mod fieldset form input[type="text"], .afisfa_mod fieldset form input[type="text"], .album_mod fieldset form input[type="text"]{
  border: 1px solid #292829;
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  padding: 12px 10px;
  width: 238px;
  -webkit-appearance:none;
}

.article_mod fieldset form input[type="date"], .today_is_mod fieldset form input[type="date"], .afisfa_mod fieldset form input[type="date"], .album_mod fieldset form input[type="date"]{
  border: 1px solid #292829;
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  padding: 12px 10px;
  width: 238px;
  -webkit-appearance:none;
}

.article_mod fieldset form select, .today_is_mod fieldset form select, .afisfa_mod fieldset form select, .album_mod fieldset form select{
  border: 1px solid #292829;
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
  padding: 12px 10px;
  width: 260px;
  -webkit-appearance:none;
}

.article_mod fieldset form textarea, .today_is_mod fieldset form textarea, .afisfa_mod fieldset form textarea, .album_mod fieldset form textarea{
  border: 1px solid #292829;
  border-top: none;
  border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  padding: 12px 10px;
  width: 238px;
  -webkit-appearance:none;
}

.article_mod fieldset form input[type="submit"], .today_is_mod fieldset form input[type="submit"], .afisfa_mod fieldset form input[type="submit"], .album_mod fieldset form input[type="submit"]{
  background-color: #ebebeb;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #404040;
  cursor: pointer;
  float: none;
  font-weight: bold;
  margin-top: 2px;
  padding: 5px 5px;
  -webkit-appearance: none;
  max-width: 235px;
  opacity: 0.8;
  transition: all 0.3s;
}

.article_mod fieldset form input[type="submit"]:hover, .today_is_mod fieldset form input[type="submit"]:hover, .afisfa_mod fieldset form input[type="submit"]:hover, .album_mod fieldset form input[type="submit"]:hover {
  background-color: #e0e0e0;
  opacity: 1;
}

.article_mod fieldset form input[type="reset"], .today_is_mod fieldset form input[type="reset"], .afisfa_mod fieldset form input[type="reset"], .album_mod fieldset form input[type="reset"]{
  background-color: #FF4040;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #404040;
  cursor: pointer;
  float: none;
  font-weight: bold;
  margin-top: 2px;
  padding: 5px 5px;
  -webkit-appearance: none;
  max-width: 20px;
  opacity: 0.5;
  transition: all 0.3s;
}

.article_mod fieldset form input[type="reset"]:hover, .today_is_mod fieldset form input[type="reset"]:hover, .afisfa_mod fieldset form input[type="reset"]:hover, .album_mod fieldset form input[type="reset"]:hover {
  background-color: #FF4040;
  opacity: 1;
}

.article_mod fieldset form span:before, .today_is_mod fieldset form span:before, .afisfa_mod fieldset form span:before, .album_mod fieldset form span:before{
  background-color: #c9c9c9;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  content: "?";
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  text-align: center;
  width: 20px;
}
#article_edit, #today_is_edit, #afisfa_edit, #album_edit{
  min-width: 275px;
  max-width: 275px;
}