    <app-header></app-header>

    <div class="titles">
        <div class="section_title">
            Флешбук
        </div>
        <div class="section_title">
            БукТрейлер
        </div>
        <div class="section_title">
            Год в России
        </div>
    </div>

    <main>
        <section>
            <div class="flashbook-item" *ngFor="let flashbook of flashbooks">
                <img src="{{flashbook.img}}" alt="bashlachev" class="flashbook-img">
                <a class="flashbook-title" href="{{flashbook.link}}">{{flashbook.caption}}</a>
            </div>
        </section>

        <section>
            <a href="http://youtube.com/results?search_query=Буктрейлер">
                <img src="../../../assets/img/booktrailer.jpg" alt="booktrailer">
            </a>
        </section>

        <section>
            <img class="banners" src="../../../assets/img/film_banner.jpg" alt="literature_banner">
        </section>

        <section *ngFor="let article of articles">
            <div class="news">
                <img src="{{article.preview_image}}" alt="news_image">
                <div class="title_for_box">{{article.date_of}}</div>
                <div class="news_text">
                    <a [routerLink]="['/articlePage', article.id]">{{article.title}}</a>
                </div>
            </div>
        </section>

        <section>
            <div class="title_for_box">Сегодня</div>
            <div class="today_date">
                <ul>
                    <li *ngFor="let today of todays">{{today.title}}</li>
                </ul>
            </div>
        </section>

        <section>
            <div class="title_for_box">Афиша</div>
                <ul class="affiche-box">
                    <li class="today-action" *ngFor="let affiche of affiches">
                      <p class="today-number">{{affiche.date_of}}</p>
                      <p class="today-action">{{affiche.content}}</p>
                    </li>
                </ul>
        </section>

    </main>