$adminWidth: 1000px;
$adminHeight: 900px;
$h1height: 35px;
.forms {
 max-width: $adminWidth;
 position: relative;
}

h1 {
 margin: 0;
 background-color: #282830;
 color: #fff;
 font-size: 14px;
 padding: 10px;
 text-align: center;
 text-transform: uppercase;
}

a {
 color: #999;
 text-decoration: none;
}

a:hover { color: #1dabb8; }

fieldset {
 border: none;
 margin: 0;
 background: #fff;
 border-radius: 0 0 5px 5px;
}

input[type="text"] {
 font-size: 14px;
 float: left;
}

input[type="date"] {
 font-size: 14px;
 float: left;
}

input[type="submit"] {
 background: #1dabb8;
 border-radius: 3px;
 color: #fff;
 float: left;
 font-weight: bold;
 max-height: 21px;
}

select {
 float: left;
 min-width: 300px;
}

table {
 tr {
  th {
   padding: 7px;
  }
 }
}

.third-form {
 max-width: $adminWidth/4-15px;
 min-width: $adminWidth/4-15px;
 max-height: $adminHeight/3;
 min-height: $adminHeight/3;
}
.third-h-half-w {
 max-height: $adminHeight/3;
 min-height: $adminHeight/3;
 max-width: $adminWidth/2-15px;
 min-width: $adminWidth/2-15px;
}
.half-form {
 max-width: $adminWidth/4-15px;
 min-width: $adminWidth/4-15px;
 max-height: $adminHeight/2;
 min-height: $adminHeight/2;
}
.full-form {
 max-width: $adminWidth/4-15px;
 min-width: $adminWidth/4-15px;
 max-height: $adminHeight;
 min-height: $adminHeight;
}
.fourth-form {
 max-height: $adminHeight/4;
 min-height: $adminHeight/4;
}
.two-third-form {
 max-height: $adminHeight*2/3;
 min-height: $adminHeight*2/3;
}


#today_mod, #pricelist_mod, #article_mod, #periodic_mod, #club_mod, #competition_mod , #recommendation_mod ,
#recommendation_mod, #affiche_mod , #album_mod , #document_mod, #about_city_mod, #flashbook_mod, #material_mod,
#adress_mod, #mode_mod, #photo_mod, #guest_book_mod {
 position: relative;
 overflow: auto;
 background-color: white;
}

.today_edit, .pricelist_edit, .article_edit, .periodic_edit, .club_edit, .competition_edit , .recommendation_edit ,
.recommendation_edit, .affiche_edit , .album_edit , .document_edit, .about_city_edit, .flashbook_edit, .material_edit,
.adress_edit, .mode_edit, .photo_edit {
 max-height: inherit-$h1height;
 max-width: inherit;
 position: absolute;
 top: 35px;
 z-index: 1;
}

.today_list, .pricelist_list, .article_list, .periodic_list, .club_list, .competition_list , .recommendation_list,
.recommendation_list, .affiche_list, .album_list , .document_list, .about_city_list, .flashbook_list, .material_list,
.adress_list, .mode_list, .photo_list, .guest_book_list {
 max-height: inherit-$h1height;
 max-width: inherit;
 position: absolute;
 top: 35px;
 z-index: 1;
 overflow: auto;
}

#today_mod {

}
#pricelist_mod {

}
#article_mod {

}
#periodic_mod {

}
#club_mod {

}
#competition_mod {

}
#recommendation_mod {

}
#affiche_mod {

}
#album_mod {

}
#document_mod{

}
#about_city_mod{

}
#flashbook_mod{

}
#material_mod{

}
#adress_mod{
 input[type="text"] {
  font-size: 14px;
  float: left;
 }
}
#mode_mod{
 input[type="text"] {
  font-size: 14px;
  float: left;
 }
 h4 {
  padding: 0;
  margin: 0;
 }
}
#photo_mod {
}
//common
.list_item {
 text-align: right;
 max-width: $adminWidth/4-15px;
 max-height: 22px;
}
.list_item_caption {
 display: inline-block;
 text-align: left;
 opacity: 0.9;
 max-width: $adminWidth/4-52px;
 overflow: hidden;
 white-space: nowrap;
 margin: 0;
 padding-bottom: 0px;
}
.list_item_caption:hover {
 opacity: 1;
 cursor: pointer;
 text-shadow: 0px 1px 0px grey;
}
.del_button {
 background-color: #FF4040;
 display: inline-block;
 cursor: pointer;
 max-height: 18px;
 min-height: 18px;
 max-width: 18px;
 min-width: 18px;
 border-radius: 3px;
 text-align: right;
}
.del_button:hover {
 background-color: #b32d2d;
}
.clearfix {
 content: "";
 display: table;
 clear: both;
}
.album-img-mini {
 max-width: 100px;
 max-height: 100px;
 float: left;
}
.album-img-mini:hover {
 cursor: pointer;
}