<div class="forms">
  <table>
    <tr>

      <th rowspan="2">
        <div id="today_mod" class="third-form">
          <h1 (click)="toggleForm('today')">Сегодня</h1>

          <fieldset class="today_list">
            <form>
              <div class="list_item" *ngFor="let today of todays">
                <span class="list_item_caption" (click)="getToday(today.id)">{{today.title}}</span>
                <div class="del_button" (click)="delToday(today.id)"></div>
              </div>
            </form>
          </fieldset>

          <fieldset class="today_edit" *ngIf="visibility.todayE == 'active'">
            <form [formGroup]="todayEditForm" (submit)="todaySubmit();" >
              <input type="text" formControlName="id" hidden>
              <input type="date" placeholder="Date" formControlName="date_of">
              <input type="text" placeholder="Title" formControlName="title">
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="todaySubmit();">
              <input type="reset"  value="New">
            </form>
          </fieldset>

        </div>
      </th>

      <th rowspan="4">
        <div id="article_mod" class="full-form">
          <h1 (click)="toggleForm('article')">Статьи</h1>

          <fieldset class="article_list">
            <form>
              <div class="list_item" *ngFor="let article of articles">
                <span class="list_item_caption" (click)="getArticle(article.id)">{{article.title}}</span>
                <div class="del_button" (click)="delArticle(article.id)"></div>
              </div>
            </form>
          </fieldset>

          <fieldset class="article_edit" *ngIf="visibility.articleE == 'active'">
            <form [formGroup]="articleEditForm" (submit)="articleSubmit();" >
              <input type="text" formControlName="id" hidden>
              <input type="date" placeholder="DateTime" formControlName="date_of">
              <input type="text" placeholder="Title" formControlName="title">
              <textarea cols="30" rows="10" placeholder="Превью" formControlName="preview_annotation"></textarea>
              <textarea cols="30" rows="10" placeholder="Статья" formControlName="content"></textarea>
              <textarea cols="30" rows="10" placeholder="Картинка для превью" formControlName="preview_image"></textarea>
              <textarea cols="30" rows="10" placeholder="Картинка для статьи" formControlName="content_image"></textarea>
              <select formControlName="author" [(ngModel)]="activeArticle.author">
                <option value="" disabled selected>Выбрать автора</option>
                <option [value]="user.code" *ngFor="let user of users" [selected]="activeArticle.author == user.code">
                  {{user.caption}}
                </option>
              </select>
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="articleSubmit();">
              <input type="reset"  value="New">
            </form>
          </fieldset>
        </div>
      </th>

      <th rowspan="4">
        <div id="periodic_mod" class="full-form">
          <h1 (click)="toggleForm('periodic')">Периодика</h1>

          <fieldset class="periodic_list">
            <form>
              <div class="list_item" *ngFor="let periodic of periodics">
                <span class="list_item_caption" (click)="getPeriodic(periodic.id)">{{periodic.caption}}</span>
                <div class="del_button" (click)="delPeriodic(periodic.id)"></div>
              </div>
            </form>
          </fieldset>

          <fieldset class="periodic_edit" *ngIf="visibility.periodicE == 'active'">
            <form [formGroup]="periodicEditForm" (submit)="periodicSubmit();">
              <input type="text" formControlName="id" hidden>
              <input type="text" formControlName="caption" placeholder="Название">
              <input type="text" formControlName="period" placeholder="Периодичность">
              <select formControlName="periodic_type" [(ngModel)]="activePeriodic.periodic_type">
                <option value="" disabled selected>Вид издания</option>
                <option [value]="periodic_type.id" *ngFor="let periodic_type of periodic_types" [selected]="activePeriodic.periodic_type == periodic_type.id">
                  {{periodic_type.caption}}
                </option>
              </select>
              <input type="text" formControlName="language" placeholder="Язык">
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="periodicSubmit();">
              <input type="reset"  value="New">
            </form>
          </fieldset>

        </div>
      </th>

      <th rowspan="2">
        <div id="club_mod" class="third-form">
          <h1 (click)="toggleForm('club')">Клубы</h1>

          <fieldset class="club_list">
            <form>
              <div class="list_item" *ngFor="let club of clubs">
                <span class="list_item_caption" (click)="getClub(club.id)">{{club.caption}}</span>
                <div class="del_button" (click)="delClub(club.id)"></div>
              </div>
            </form>
          </fieldset>

          <fieldset class="club_edit" *ngIf="visibility.clubE == 'active'">
            <form [formGroup]="clubEditForm" (submit)="clubSubmit();">
              <input type="text" formControlName="id" hidden>
              <input type="text" formControlName="caption" placeholder="Название">
              <textarea cols="30" rows="10" formControlName="description" placeholder="Описание"></textarea>
              <input type="text" formControlName="dates" placeholder="Время проведения">
              <input type="text" formControlName="age" placeholder="Возраст">
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="clubSubmit();">
              <input type="reset"  value="New">
            </form>
          </fieldset>

        </div>
      </th>

    </tr>
    <tr>
    </tr>
    <tr>

      <td rowspan="2">
        <div id="pricelist_mod" class="two-third-form">
          <h1 (click)="toggleForm('pricelist')">Услуги</h1>

          <fieldset class="pricelist_list">
            <form>
              <div class="list_item" *ngFor="let pricelist of pricelists">
                <span class="list_item_caption" (click)="getPricelist(pricelist.id)">{{pricelist.caption}}</span>
                <div class="del_button" (click)="delPricelist(pricelist.id)"></div>
              </div>
            </form>
          </fieldset>

          <fieldset class="pricelist_edit" *ngIf="visibility.pricelistE == 'active'">
            <form [formGroup]="pricelistEditForm" (submit)="pricelistSubmit();">
              <input type="text" formControlName="id" hidden>
              <input type="text" formControlName="caption" placeholder="Название">
              <input type="text" formControlName="pid" placeholder="Основа(нет)">
              <input type="text" formControlName="cost" placeholder="Цена">
              <input type="text" formControlName="per_one" placeholder="Единица">
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="pricelistSubmit();">
              <input type="reset"  value="New">
            </form>
          </fieldset>

        </div>
      </td>

      <td>
        <div id="competition_mod" class="third-form">
          <h1 (click)="toggleForm('competition')">Конкурсы</h1>

          <fieldset class="competition_list">
            <form>
              <div class="list_item" *ngFor="let competition of competitions">
                <span class="list_item_caption" (click)="getCompetition(competition.id)">{{competition.caption}}</span>
                <div class="del_button" (click)="delCompetition(competition.id)"></div>
              </div>
            </form>
          </fieldset>

          <fieldset class="competition_edit" *ngIf="visibility.competitionE == 'active'">
            <form [formGroup]="competitionEditForm" (submit)="competitionSubmit();">
              <input type="text" formControlName="id" hidden>
              <input type="text" formControlName="caption" placeholder="Название">
              <textarea cols="30" rows="10" formControlName="description" placeholder="Описание"></textarea>
              <input type="text" formControlName="dates" placeholder="Даты проаедения">
              <input type="text" formControlName="age" placeholder="Возраст">
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="competitionSubmit();">
              <input type="reset"  value="New">
            </form>
          </fieldset>
        </div>
      </td>

    </tr>
    <tr>

      <td>
        <div id="recommendation_mod" class="third-form">
          <h1 (click)="toggleForm('recommendation')">Рекомендации</h1>

          <fieldset class="recommendation_list">
            <form>
              <div class="list_item" *ngFor="let recommendation of recommendations">
                <span class="list_item_caption" (click)="getRecommendation(recommendation.id)">{{recommendation.caption}}</span>
                <div class="del_button" (click)="delRecommendation(recommendation.id)"></div>
              </div>
            </form>
          </fieldset>

          <fieldset class="recommendation_edit" *ngIf="visibility.recommendationE == 'active'">
            <form [formGroup]="recommendationEditForm" (submit)="recommendationSubmit();">
              <input type="text" formControlName="id" hidden>
              <input type="text" formControlName="rubric" placeholder="Рубрика">
              <input type="text" formControlName="caption" placeholder="Название">
              <textarea cols="30" rows="10" formControlName="description" placeholder="Описание"></textarea>
              <input type="text" formControlName="link" placeholder="Ссылка">
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="recommendationSubmit();">
              <input type="reset"  value="New">
            </form>
          </fieldset>

        </div>
      </td>

    </tr>
    <tr>

      <td rowspan="2">
        <div id="affiche_mod" class="third-form">
          <h1 (click)="toggleForm('affiche')">Афиша</h1>

          <fieldset class="affiche_list">
            <form>
              <div class="list_item" *ngFor="let affiche of affiches">
                <span class="list_item_caption" (click)="getAffiche(affiche.id)">{{affiche.content}}</span>
                <div class="del_button" (click)="delAffiche(affiche.id)"></div>
              </div>
            </form>
          </fieldset>

          <fieldset class="affiche_edit" *ngIf="visibility.afficheE == 'active'">
            <form [formGroup]="afficheEditForm" (submit)="afficheSubmit();">
              <input type="text" formControlName="id" hidden>
              <input type="date" formControlName="date_of">
              <input type="text" formControlName="content">
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="afficheSubmit();">
              <input type="reset"  value="New">
            </form>
          </fieldset>

        </div>
      </td>

      <td rowspan="2">
        <div id="about_city_mod" class="third-form">
          <h1 (click)="toggleForm('about_city')">О городе</h1>

          <fieldset class="about_city_list">
            <form>
              <div class="list_item" *ngFor="let about_city of about_cities">
                <span class="list_item_caption" (click)="getAbout_city(about_city.id)">{{about_city.caption}}</span>
                <div class="del_button" (click)="delAbout_city(about_city.id)"></div>
              </div>
            </form>
          </fieldset>

          <fieldset class="about_city_edit" *ngIf="visibility.about_cityE == 'active'">
            <form [formGroup]="about_cityEditForm" (submit)="about_citySubmit();">
              <input type="text" formControlName="id" hidden>
              <textarea cols="30" rows="10" formControlName="caption"></textarea>
              <input type="date" formControlName="when">
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="about_citySubmit();">
              <input type="reset"  value="New">
            </form>
          </fieldset>

        </div>
      </td>

      <td colspan="2" rowspan="2">
        <div id="adress_mod" class="third-h-half-w">
          <h1>Адреса и контакты</h1>

          <fieldset class="adress_edit">
            <form [formGroup]="adressEditForm" (submit)="adressSubmit();">
              <input type="text" formControlName="id" hidden>
              <input type="text" formControlName="adress" placeholder="Адрес">
              <input type="text" formControlName="phone" placeholder="Телефон">
              <input type="text" formControlName="email" placeholder="почта">
              <input type="text" formControlName="site" placeholder="сайт">
              <input type="text" formControlName="telegram" placeholder="телеграм">
              <input type="text" formControlName="watsapp" placeholder="ватсап">
              <input type="text" formControlName="vk" placeholder="вконтакте">
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="adressSubmit();">
            </form>
          </fieldset>

        </div>
      </td>

    </tr>
    <tr>
    </tr>
    <tr>

      <td>
        <div id="album_mod" class="third-form">
          <h1 (click)="toggleForm('album')">Альбомы</h1>

          <fieldset class="album_list">
            <form>
              <div class="list_item" *ngFor="let album of albums">
                <span class="list_item_caption" (click)="getAlbum(album.id)">{{album.title}}</span>
                <div class="del_button" (click)="delAlbum(album.id)"></div>
              </div>
            </form>
          </fieldset>

          <fieldset class="album_edit" *ngIf="visibility.albumE == 'active'">
            <form [formGroup]="albumEditForm" (submit)="albumSubmit();">
              <input type="text" formControlName="id" hidden>
              <input type="date" formControlName="date_of">
              <input type="text" formControlName="title" placeholder="Название">
              <textarea formControlName="cover" cols="30" rows="10" placeholder="Обложка"></textarea>
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="albumSubmit();">
              <input type="reset"  value="New">
            </form>
          </fieldset>

        </div>
      </td>

      <td>
        <div id="flashbook_mod" class="third-form">
          <h1 (click)="toggleForm('flashbook')">Флэшбук</h1>

          <fieldset class="flashbook_list">
            <form>
              <div class="list_item" *ngFor="let flashbook of flashbooks">
                <span class="list_item_caption" (click)="getFlashbook(flashbook.id)">{{flashbook.caption}}</span>
                <div class="del_button" (click)="delFlashbook(flashbook.id)"></div>
              </div>
            </form>
          </fieldset>

          <fieldset class="flashbook_edit" *ngIf="visibility.flashbookE == 'active'">
            <form [formGroup]="flashbookEditForm" (submit)="flashbookSubmit();">
              <input type="text" formControlName="id" hidden>
              <input type="text" formControlName="caption" placeholder="Название">
              <input type="text" formControlName="link" placeholder="Ссылка">
              <input type="text" formControlName="img" placeholder="Картинка">
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="flashbookSubmit();">
              <input type="reset"  value="New">
            </form>
          </fieldset>

        </div>
      </td>

      <td colspan="2">
        <div id="mode_mod" class="third-h-half-w">
          <h1>Режим работы</h1>
          <fieldset>
            <h4>Летнее время</h4>
            <form [formGroup]="summerModeEditForm" (submit)="summerModeSubmit();">
              <input type="text" formControlName="id" hidden>
              <input type="text" formControlName="holiday"  placeholder="Выходные"              alt="Выходные">
              <input type="text" formControlName="working"  placeholder="Рабочее время"         alt="Рабочее время">
              <input type="text" formControlName="lunch"    placeholder="Обеденный перерыв"     alt="Обеденный перерыв">
              <input type="text" formControlName="last_day" placeholder="Последний десь месяца" alt="Последний десь месяца">
              <input type="text" formControlName="season" value="summer" hidden>
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="summerModeSubmit();">
            </form>
          </fieldset>
          <fieldset>
            <h4>Зимнее время</h4>
            <form [formGroup]="winterModeEditForm" (submit)="winterModeSubmit();">
              <input type="text" formControlName="id" hidden>
              <input type="text" formControlName="holiday"  placeholder="Выходные"              alt="Выходные">
              <input type="text" formControlName="working"  placeholder="Рабочее время"         alt="Рабочее время">
              <input type="text" formControlName="lunch"    placeholder="Обеденный перерыв"     alt="Обеденный перерыв">
              <input type="text" formControlName="last_day" placeholder="Последний десь месяца" alt="Последний десь месяца">
              <input type="text" formControlName="season"   value="summer" hidden>
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="winterModeSubmit();">
            </form>
          </fieldset>

        </div>
      </td>

    </tr>
    <tr>

      <td>
        <div id="document_mod" class="third-form">
          <h1 (click)="toggleForm('document')">Документы</h1>

          <fieldset class="document_list">
            <form>
              <div class="list_item" *ngFor="let document of documents">
                <span class="list_item_caption" (click)="getDocument(document.id)">{{document.caption}}</span>
                <div class="del_button" (click)="delDocument(document.id)"></div>
              </div>
            </form>
          </fieldset>

          <fieldset class="document_edit" *ngIf="visibility.documentE == 'active'">
            <form [formGroup]="documentEditForm" (submit)="documentSubmit();">
              <input type="text" formControlName="id" hidden>
              <input type="text" formControlName="caption" placeholder="Название">
              <input type="text" formControlName="link" placeholder="Ссылка">
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="documentSubmit();">
              <input type="reset"  value="New">
            </form>
          </fieldset>

        </div>
      </td>

      <td>
        <div id="material_mod" class="third-form">
          <h1 (click)="toggleForm('material')">Мат. база</h1>

          <fieldset class="material_list">
            <form>
              <div class="list_item" *ngFor="let material of materials">
                <span class="list_item_caption" (click)="getMaterial(material.id)">{{material.caption}}</span>
                <div class="del_button" (click)="delMaterial(material.id)"></div>
              </div>
            </form>
          </fieldset>

          <fieldset class="material_edit" *ngIf="visibility.materialE == 'active'">
            <form [formGroup]="materialEditForm" (submit)="materialSubmit();">
              <input type="text" formControlName="id" hidden>
              <input type="text" formControlName="caption" placeholder="Название">
              <input type="text" formControlName="quantity" placeholder="Количество">
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="materialSubmit();">
              <input type="reset"  value="New">
            </form>
          </fieldset>

        </div>
      </td>

      <td colspan="2">
        <div id="photo_mod" class="third-h-half-w">
          <h1 (click)="toggleForm('photo')"> Тестовый Блок: Фото</h1>

          <fieldset class="photo_list">
            <form>
              <img *ngFor="let photo of photos" src="{{photo.link}}" alt="{{photo.caption}}" (click)="getPhoto(photo.id)" class="album-img-mini">
            </form>
          </fieldset>

          <fieldset class="photo_edit" *ngIf="visibility.photoE == 'active'">
            <form [formGroup]="photoEditForm" (submit)="photoSubmit();">
              <input type="text" formControlName="id" hidden>
              <input type="text" formControlName="caption" placeholder="Название">
              <textarea formControlName="link" cols="30" rows="10"></textarea>
              <select formControlName="pid" [(ngModel)]="activePhoto.pid">
                <option value="" disabled selected>Альбом</option>
                <option [value]="album.id" *ngFor="let album of albums" [selected]="activePhoto.pid == album.id">
                  {{album.title}}
                </option>
              </select>
              <div class="clearfix"></div>
              <input type="submit" value="Ok" (click)="photoSubmit();">
              <input type="reset"  value="New">
              <input type="submit" value="Удалить" (click)="delPhoto(activePhoto.id);">
            </form>
          </fieldset>

        </div>
      </td>

    </tr>
    <tr>
      <td>
        <div id="guest_book_mod" class="fourth-form">
          <h1>Гостевая книга</h1>
          <fieldset class="guest_book_list">
            <form>
              <div class="list_item" *ngFor="let guest of guest_book">
                <span class="list_item_caption">{{guest.content}}</span>
                <div class="del_button" (click)="delGuest_book(guest.id)"></div>
              </div>
            </form>
          </fieldset>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

</div>