<app-header></app-header>
<div class="recommendations">
  <div class="recommendation" *ngFor="let recommendation of recommendations">
    <h3>{{recommendation.rubric}}</h3>
    <p><a href="{{recommendation.link}}">{{recommendation.caption}}</a></p>
    <p>{{recommendation.description}}</p>
  </div>
</div>