<app-header></app-header>
<div class="competitions" *ngFor="let competition of competitions">
  <div class="single_competition">
    <h3>{{competition.caption}}</h3>
    <p>{{competition.description}}</p>
    <p>{{competition.dates}}</p>
    <p>{{competition.age}}</p>
  </div>
</div>