<div class="about_city">
  <h1>Город Зеленодольск</h1>
  <ul>
    <li *ngFor="let about of about_city"><span class="about_city_caption">{{about.when}}</span><span>{{about.caption}}</span></li>
  </ul>
</div>